@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-family: "Roboto Thin";
  src: url(../fonts/Roboto-Thin.ttf);
  font-family: "Roboto Light";
  src: url(../fonts/Roboto-Light.ttf);
  font-family: "Roboto Bold Condensed";
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

* {
  font-family: Roboto, Arial;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 418px;
}

.slide1-bg {
  background: url(../img/bg1.jpg) center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 1920px;
  height: 450px;
  margin-top: -32px;
}

.test-block {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 50px 80px 10px 80px;
}

.logo {
  text-decoration: none;
  font-family: Roboto Bold Condensed, Arial;
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
}

.top-menu {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.top-menu li {
  padding-bottom: 20px;
}

.top-menu-item {
  margin: 5px 22px;
  font-size: 11px;
  font-family: Roboto Light, Arial;
  text-decoration: none;
  color: #ffffff;
}

.lang-switcher {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  border: 1px #ffffff solid;
  padding: 3px 8px;
  padding-right: 20px;
  position: relative;
  margin-left: 30px;
}

.lang-switcher::before {
  content: "";
  height: 2px;
  width: 6px;
  background-color: #ffffff;
  position: absolute;
  right: 7px;
  top: 9px;
  transform: rotate(-45deg);
}

.lang-switcher::after {
  content: "";
  height: 2px;
  width: 6px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(45deg);
  top: 9px;
  right: 10px;
}

nav {
  background-color: #ffffff;
  margin-left: 80px;
  margin-right: 120px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
}

nav ul {
  padding-inline-start: 0;
  display: flex;
}

.nav-item, .nav-item-last {
  list-style: none;
  text-transform: uppercase;
  color: #6d6e71;
  margin: 15px auto;
  font-size: 12px;
  font-weight: 500;
}

.nav-item::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  margin-bottom: 1.5px;
  border-style: solid;
  border-width: 3px 0 3px 3px;
  border-color: transparent transparent transparent #6d6e71;
}

.nav-item-last {
  margin: 0;
  padding: 10px 30px;
  color: #ffffff;
  background: #755b1e;
  background: linear-gradient(0deg, #755b1e 0%, #52a828 100%);
  display: flex;
  align-items: center;
  margin-right: -1px;
}

.basket {
  padding-right: 6px;
  width: 18px;
  height: 18px;
}

div h1 {
  padding-top: 70px;
}

.h1 {
  color: #ffffff;
  font-size: 56px;
  font-family: Roboto;
  line-height: 0.9;
  font-weight: 500;
  padding-left: 180px;
  box-sizing: border-box;
}

.second-line {
  padding-left: 270px;
}

.third-line {
  padding-left: 350px;
}

.slide2 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slide2-top {
  display: flex;
  justify-content: flex-end;
}

.top-right {
  margin-right: 70px;
  margin-top: 12px;
}

.statement {
  display: flex;
  margin-bottom: 20px;
}

.cell-1 {
  background-color: #ffffff;
  width: 55%;
  min-width: 500px;
}

.product {
  width: 190px;
  height: 345px;
  margin-right: 20px;
  margin-top: -60px;
  z-index: 2;
  position: relative;
}

.star-icon {
  width: 33px;
  height: 32px;
  margin-right: 25px;
}

.header {
  font-size: 25px;
  font-family: Roboto, Arial;
  font-weight: 500;
  color: #4d4545;
}

.text {
  font-size: 11px;
  font-family: Roboto, Arial;
  color: #a7a9ac;
  margin-bottom: 3px;
}

.percentage {
  font-size: 25px;
  color: #c49a6c;
  font-family: Roboto, Arial;
}

.slide2-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 34px;
}

.btm-left {
  margin-right: 20px;
  margin-top: 3px;
  width: 100px;
  text-align: right;
  font-family: Roboto Light;
  font-size: 16px;
}

.btm-right {
  width: 350px;
  font-size: 42px;
  font-family: Roboto;
  font-weight: 600;
  color: #25383f;
}

.row3 {
  display: flex;
  justify-content: flex-end;
}

.know-more:link {
  margin-right: 147px;
  margin-top: 20px;
  text-decoration: none;
}

.know-more:visited {
  color: #000;
}

.know-more:hover {
  color: #ffffff;
}

.btn {
  border: solid 5px #000;
  width: fit-content;
  padding: 15px 30px;
}

.btn:hover {
  background-color: #c49a6c;
  transition: .3s;
}

.cell-2 {
  width: 45%;
  min-width: 500px;
}

.form-cell {
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  width: 500px;
  height: 520px;
  display: flex;
  justify-content: center;
}

.form-bg1 {
  width: 320px;
  height: fit-content;
  background-color: #e9e5e4;
  padding: 12px;
  box-sizing: border-box;
  margin-top: -180px;
  z-index: 1;
}

.form-bg2 {
  padding: 22px;
  box-sizing: border-box;
  background-color: #F4F3F1;
  border: 1px dashed #a7a9ac;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #25383f;
  font-family: Roboto Light, Arial;
}

.form-title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-subtitle {
  font-size: 14px;
}

.hr {
  width: 170px;
  margin: 18px auto;
  color: #d1d3d4;
}

form label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
}

form input, form select {
  width: 100%;
  margin-bottom: 15px;
}
